*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: Roboto;
    background-image: url(../img/back.jpg);
    background-size: 100%;
    background-attachment: fixed; 
    padding: 30px;
}


#snow{	
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 0;
    background-image: url("https://yraaa.ru/_pu/27/15825154.png"), 
    url("https://yraaa.ru/_pu/27/89961317.png"), 
    url("https://yraaa.ru/_pu/27/21791255.png"); 
    animation: snow 20s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;} 
    50% {background-position: 250px 500px, 200px 200px, 150px 150px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

main{
    width: 70%;
    padding: 40px;
    background-color: burlywood;
    margin-left: 15%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px 1px red;
}

h1{
    width: 100%;
    font-size: 50px;
}

p{
    width: 100%;
    font-size: 25px;
}

.photo{
    width: 160px;
    height: 160px;
    background-color: orange;
    margin: 15px;
    transition: all 0.5s ease;
    border-radius: 100px;
}

.photo:hover{
    transform: rotate(800deg) scale(2);
}

.photo1{
    background-image: url(../img/image1.jpg);
    background-size: 100%; 
}
.photo2{
    background-image: url(../img/image2.jpg);
    background-size: 100%; 
}
.photo3{
    background-image: url(../img/image3.jpg);
    background-size: 100%; 
}
.photo4{
    background-image: url(../img/image4.jpg);
    background-size: 100%; 
}
.photo5{
    background-image: url(../img/image5.jpg);
    background-size: 100%; 
}

.photo6{
    background-image: url(../img/image6.jpg);
    background-size: 100%; 
}

.photo7{
    background-image: url(../img/image1.jpg);
    background-size: 100%; 
}

.photo8{
    background-image: url(../img/image2.jpg);
    background-size: 100%; 
}

.photo9{
    background-image: url(../img/image3.jpg);
    background-size: 100%; 
}

.photo10{
    background-image: url(../img/image4.jpg);
    background-size: 100%; 
}

.photo11{
    background-image: url(../img/image5.jpg);
    background-size: 100%; 
}
.photo12{
    background-image: url(../img/image6.jpg);
    background-size: 100%; 
}
